body{
  margin: 0;
}
.wrap {
  width: 400px;
  height: 400px;
  background-color: violet;
  position: relative;
}
.wrap .container {
  width: 300px;
  background-color: royalblue;
  /* position: relative; */
}
.wrap .container .item {
  border: 4px dashed red;
}
.container .item:first-child{
  width: 100px;
  height: 50px;
  background-color: yellow;
}
.container .item:nth-child(2){
  width: 150px;
  height: 90px;
  background-color: orange;
  position: fixed;
  /* top: 0px;
  left: 0px; */
  bottom: 30px;
  right: 30px;
}
.container .item:last-child {
  width: 80px;
  height: 150px;
  background-color: brown;
}