body {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  padding: 70px;
}
.container .heroes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 40px;
}
.container .heroes .hero{
  width: 80px;
  height: 84px;
  margin: 4px;
  background-color: #555;
  border: 3px solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  transform: skewX(-14deg);
  transition: 
  transform .1s, 
  background-color .5s;
  overflow: hidden;
}
.container .heroes .hero:hover{
  transform: skewX(-14deg) scale(1.3);
  background-color: orange;
  z-index: 1;
}
.container .heroes .hero .hero-img{
  width: 140%;
  height: 100%;
  background-size: 90px;
  transform: skewX(14deg) translate(-16px);
  background-position: center;
}
.container .heroes .hero:nth-child(1) .hero-img{background-image: url("./img/hero1.png");}
.container .heroes .hero:nth-child(2) .hero-img{background-image: url("./img/hero2.png");}
.container .heroes .hero:nth-child(3) .hero-img{background-image: url("./img/hero3.png");}
.container .heroes .hero:nth-child(4) .hero-img{background-image: url("./img/hero4.png");}
.container .heroes .hero:nth-child(5) .hero-img{background-image: url("./img/hero5.png");}
.container .heroes .hero:nth-child(6) .hero-img{background-image: url("./img/hero6.png");}
.container .heroes .hero:nth-child(7) .hero-img{background-image: url("./img/hero7.png");}
.container .heroes .hero:nth-child(8) .hero-img{background-image: url("./img/hero8.png");}
.container .heroes .hero:nth-child(9) .hero-img{background-image: url("./img/hero9.png");}
.container .heroes .hero:nth-child(10) .hero-img{background-image: url("./img/hero10.png");}
.container .heroes .hero:nth-child(11) .hero-img{background-image: url("./img/hero11.png");}
.container .heroes .hero:nth-child(12) .hero-img{background-image: url("./img/hero12.png");}
.container .heroes .hero:nth-child(13) .hero-img{background-image: url("./img/hero13.png");}
.container .heroes .hero:nth-child(14) .hero-img{background-image: url("./img/hero14.png");}
.container .heroes .hero:nth-child(15) .hero-img{background-image: url("./img/hero15.png");}
.container .heroes .hero:nth-child(16) .hero-img{background-image: url("./img/hero16.png");}
.container .heroes .hero:nth-child(17) .hero-img{background-image: url("./img/hero17.png");}
.container .heroes .hero:nth-child(18) .hero-img{background-image: url("./img/hero18.png");}
.container .heroes .hero:nth-child(19) .hero-img{background-image: url("./img/hero19.png");}
.container .heroes .hero:nth-child(20) .hero-img{background-image: url("./img/hero20.png");}
.container .heroes .hero:nth-child(21) .hero-img{background-image: url("./img/hero21.png");}
.container .heroes .hero:nth-child(22) .hero-img{background-image: url("./img/hero22.png");}
.container .heroes .hero:nth-child(23) .hero-img{background-image: url("./img/hero23.png");}
.container .heroes .hero:nth-child(24) .hero-img{background-image: url("./img/hero24.png");}
.container .heroes .hero:nth-child(25) .hero-img{background-image: url("./img/hero25.png");}
.container .heroes .hero:nth-child(26) .hero-img{background-image: url("./img/hero26.png");}
.container .heroes .hero:nth-child(27) .hero-img{background-image: url("./img/hero27.png");}
.container .heroes .hero:nth-child(28) .hero-img{background-image: url("./img/hero28.png");}
.container .heroes .hero:nth-child(29) .hero-img{background-image: url("./img/hero29.png");}
.container .heroes .hero:nth-child(30) .hero-img{background-image: url("./img/hero30.png");}
.container .heroes .hero:nth-child(31) .hero-img{background-image: url("./img/hero31.png");}
.container .heroes .hero:nth-child(32) .hero-img{background-image: url("./img/hero32.png");}

.logo{
  max-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}
.logo img {
  width: 100%;
}